*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
nav{
    display: flex;
    gap: 20px;
    margin: 10px;
}
nav li{
    text-decoration: none;
    list-style: none;
}