*{
    margin: 0;
    padding: 0;

}
:root{
    --color-primary: #B09B8A;
    --color-secondary:#e7d8c9;
    --color-accent:hsl(22, 33%, 38%);
    --color-text:#fffffff2 ;
    --hover-color: hsl(22, 33%, 58%);
    --heading-font:1.7rem;

}
@font-face {
  font-family: "Noto Sans Ethiopic";
  src: url(/fonts/noto.woff2);
  font-display: swap;
}
body{
    background-color:var(--color-primary);
    color: var(--color-text);
  font-family: Arial, Helvetica,
sans-serif;

}

.card{
    width:40%;
 background: linear-gradient(
    180deg,
    #F2E8E1,
    #E3CDBF,
    #D4B39A,
    #BE8D6C
);
  height: 700px;
  margin: 50px auto;
  box-shadow: inset;
overflow:hidden;
box-sizing: border-box;
border-radius: 10px;

 
}
img{
    width: 100%;
    height:300px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    overflow: hidden;
   


   
}
.text_container h1, h2{
  margin:0 auto;
  text-align: center;
  font-weight: 700;
  font-size: var(--heading-font);
   
}
.content_container{
    padding: 20px;
    margin: 10px;
    
}

.booking{
background-color: var(--color-accent);
color: var(--color-text);
 padding: 10px 20px;
 margin-bottom:0;
margin-top:10px;
font-size: 20px;
transition: all 0.3s ease-in-out;
 border: 2px solid tra;
 border-bottom-left-radius: 120px;
 border-top-right-radius: 20px;
  border-bottom-right-radius: 120px;
 border-top-left-radius: 20px;
 text-align: center;

   
}
.btn{
    background-color:var(--color-accent);
    color: var(--color-text);
    border: none;
    padding: 10px 20px;
    font-size:1.6rem;
}
.booking p{
  font-size: 1.2rem;
}
.btn:hover{
    background-color: var(--hover-color);
    cursor: pointer;
    border:2px solid transparent;
    border-radius: 10px;
}
.content_container ul{
   
  padding:0;
  margin:0;
    
}
.content_container li{
    list-style: none;
    position: relative;
    padding-left: 25px; /* Creates space between bullet and text */
    ;
    
    
}
.content_container li::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;

    width: 8px;
    height: 8px;

    background: white;
    border-radius: 50%;

    transform: translateY(-50%);
}